.container2{
    height:400px;
     width:500px;
      margin-top:5%;
       margin-left:30%;
      border:1px solid black;
       background:white;
        border-radius:10px;
}
 .container2 h1{
     margin-top:8px;
      margin-left:10px;

 }
 .password{
 
   margin-top :10px;
max-width:350px;
     margin-right:10px;
      margin-left:10px;
    width:80%;
    display:flex;
     justify-content: space-between;
 }
 .password span{
     font-size:17px;
 }
.passwordinput input{
 margin-top:10px;
    height:30px;
     width:70%;
      max-width:350px;
      margin-left:10px;
    
       border:1px solid rgb(52, 35, 161);
}
.signin{ 
    position: relative;
    height:40px;
    margin-top:20px;
     width:93%;
      max-width:350px;
     margin-right:3px;
      margin-left:10px;
      background-color: yellow;
       border-radius:15px;
}
 .userprofile{ 
     top:430px;
      left:470px;
    position:absolute;
    height:150px;
    width:400px;
    border:1px solid black;
     border-radius:6px;
      display: none;
       background:white;

 }
.userprofile h1{
     color:rgb(60, 98, 116);
      font-size:19px;
}
.userprofile h2{
     margin-top:10px;
      margin-left:5px;
    color:rgb(131, 56, 39);
     font-size:15px;
}
.checkbox{
     margin-top:7px;
      margin-left:10px;
}